.container{
    width: 100%;
    height: 100vh;
}

.principal {
    width: 100%;
    height: 100%;
}

/* .ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
} */

.form-row {
    margin-bottom: 20px;
}

.card{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

table{
    display: block;
    overflow-x: auto;
    width: 100%;
}

td {
    word-wrap: break-word;
    white-space: pre-wrap;
}

button {
    margin-top: 10px;
    margin-right: 10px;
}

.ID{
    font-weight: bold;
}

.btn_pesquisar{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}